main {
/*   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-color: #4a044e;
  color: whitesmoke;
  font-size: 16px;
  line-height: 25px;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 1em;
}
.items-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  justify-items: center;
  column-gap: 1em;
  row-gap:  .75em;
}

.search-bar {
  background-color: black;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0.75em 1em;
  margin-bottom: 10px;
}
.search-bar--field {
  border-bottom: solid 1px grey;
  padding: 4px 6px;
  margin: 0 12px 0 0;
}
.search-bar--submit {
  border: solid 1px grey;
  padding: 4px 6px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out
}
.search-bar--submit:hover {
  background-color: grey;
}
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 30px;
}
.pagination-list--btn {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid black;
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.pagination-list--start-btn {
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid black;
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em
}
.pagination-list--start-btn:hover {
  background-color: rgba(0,0,0,0.4);
}
.pagination-list--start-btn::after {
  content: "....";
  font-size: 25px;
  position: absolute;
  right: -1.2em;
  top: 40%;
}
.pagination-list--btn:hover {
  background-color: rgba(0,0,0,0.4);
}