/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/ItemCard/ItemCard.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.item--card {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 300px;
}
.card-top-img {
    height: 320px;  
    -webkit-user-select: none;  
       -moz-user-select: none;  
            user-select: none;
}

.card-bot--author {
    display: flex;
    align-items: center;
    gap:0.8em;
    margin-top: 0.5em;
}
.author-img {
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 1234565px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.card-bot {
    padding: 1em 0.8em;
}
.card-bot--name {
    font-size: 20px;
    font-weight: 500;
    max-width: 200px;
}
.author-name {
    display: block;
    font-weight: 500;
}
.card-bot--favourite{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 1234567px;
    border: 1px solid rgb(40, 40, 40);
    transition: background-color 0.2s;
}
.card-bot--favourite:hover {
    background-color: rgb(40, 40, 40);
}
.card-bot--favourite.favourited {
    background-color: white;
}
.card-bot--favourite.favourited svg{
    stroke: black;
    stroke-width: 0.1;
}
.card-bot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-subs {
    color: rgb(180, 162, 162);
}
.card-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-activator {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.modal-activator:hover {
    opacity: 1;
}
.card--modal-content { 
    padding: 10px 40px;
    width: 40vw;
    color: black;
    text-align: center;
    position: relative;
}
.modal-content--p {
    font-size: 18px;
}
.modal-content--heading {
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0px;
    line-height: 48px;
}
.modal-content--img {
    width: 10em;
}
.modal-content--login {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.login--pinterest {
    padding: 10px 15px;
    background-color: red;
    color: white;
 
    max-width: -moz-fit-content;
 
    max-width: fit-content;
    font-weight: 500;
}
.login--facebook {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    font-weight: 500;;
    max-width: -moz-fit-content;;
    max-width: fit-content;
}
.modal-content--close {
    position: absolute;
    display: block;
    top: -10px;
    right: -10px;
    border-radius: 1234px;
    width: 2em;
    height: 2em;
    transition: background-color 0.2s ease-in-out;
}
.close--icon {
    width: 2em;
    aspect-ratio: 1/1;
}
.modal-content--close:hover {
    background-color: rgba(0,0,0,0.3);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Modal/Modal.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
    z-index: 999;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}
.modal--content {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    scale: 0;
    transition: scale 0.4s ease-in-out;
}
.modal--content.active {
    scale: 1;
}
