/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/ItemCard/ItemCard.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.item--card {
    display: flex;
    flex-direction: column;
    background-color: black;
    
}
.card-top-img {
    height: 320px;  
    -webkit-user-select: none;  
       -moz-user-select: none;  
            user-select: none;
}

.card-bot--author {
    display: flex;
    align-items: center;
    gap:0.8em;
    margin-top: 0.5em;
}
.author-img {
    max-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 1234565px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.card-bot {
    padding: 1em 0.8em;
}
.card-bot--name {
    font-size: 20px;
    font-weight: 500    ;
}
.author-name {
    display: block;
    font-weight: 500;
}
.card-bot--favourite{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 1234567px;
    border: 1px solid rgb(40, 40, 40);
    transition: background-color 0.2s;
}
.card-bot--favourite:hover {
    background-color: rgb(40, 40, 40);
}
.card-bot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-subs {
    color: rgb(180, 162, 162);
}
